footer {
  padding: 15px 15px 50px 15px;
  color: orange;
  /* background-color: darkgrey; */
}

footer {
  height: 6vh;
}

header {
  font-size: 1.5em;
  height: 75px;
}

body {
  margin-top: 70px;
  margin-bottom: 7vh;
}
