{% extends 'groupride/template.html' %}

{% block title %}Ride{% endblock %}

{% block body %}
  <div class="container">
    <h2>Ride</h2>

    <div class="ride_header border rounded">
      <div>
        <span class=""><strong>{{ride.ride_name}}</strong></span>
        <span class="">&nbsp Organizer: {{ride.created_by.first_name|slice:":1" }}.{{ride.created_by.last_name}} </span>
      </div>
      <div>
        <span class="">Departs: {{ ride.ride_date|date:"SHORT_DATE_FORMAT" }} {{ ride.ride_date|time:"TIME_FORMAT" }} </span>
      </div>
      <div>
        <span class="">{{ride.route.miles}} miles </span>
        <span class="">{{ride.route.vertical_feet}} feet</span>
      </div>
    </div>

    <!-- COMMENTS SECTION -->
    <div class="container border border rounded ml-1 mr-0" style="min-width: 20rem; max-width: 50rem">

      <!-- ROW FOR ALL COMMENT ELEMENTS -->
      <div id="post_listing" class="container mb-2" style="overflow: scroll; height:55vh;">
      </div>
    <!-- </div>  -->
    <!-- ROW FOR ALL COMMENT ELEMENTS -->

      <!-- ROW FOR COMMENT POST -->
      <div class="row">
        <div class="col align-self-end">
          <div id="frm_add_post">
            <div class="input-group mb-3">
              <input type="text" id="txt_add_post" class="form-control" placeholder="add message ... ">
              <div class="input-group-append">
                <button type="button" id="btn_add_post" class="btn btn-success">Post</button>
              </div>
            </div> <!-- END INPUT GROUP -->
          </div> <!-- end form -->
        </div> <!-- end col for comment post -->
      </div> <!-- END ROW FOR COMMENT POST -->
    </div> <!-- end comments section -->

  </div> <!-- END PAGE CONTAINER -->
{% endblock %}
