{% extends 'groupride/template.html' %}

{% block title %}Route{% endblock %}

{% block body %}
  <div class="container">
    <h2>Route</h2>

    <div class="route_header border rounded">
      <span class=""><strong>{{route.route_name}}</strong></span>
      <span class="">Origin: {{route.origin}} </span>
      <span class="">{{route.miles}} miles</span>
      <span class="">{{route.vertical_feet}} feet</span>
    </div>


    <!-- COMMENTS SECTION -->
    <div class="container border border rounded ml-1 mr-0" style="min-width: 20rem; max-width: 50rem">

      <!-- ROW FOR ALL COMMENT ELEMENTS -->
      <div id="post_listing" class="container mb-2" style="overflow: scroll; height:55vh;">
      </div>
    <!-- </div>  -->
    <!-- ROW FOR ALL COMMENT ELEMENTS -->

      <!-- ROW FOR COMMENT POST -->
      <div class="row">
        <div class="col align-self-end">
          <div id="frm_add_post">
            <div class="input-group mb-3">
              <input type="text" id="txt_add_post" class="form-control" placeholder="add message ... ">
              <div class="input-group-append">
                <button type="button" id="btn_add_post" class="btn btn-success">Post</button>
              </div>
            </div> <!-- END INPUT GROUP -->
          </div> <!-- end form -->
        </div> <!-- end col for comment post -->
      </div> <!-- END ROW FOR COMMENT POST -->
    </div> <!-- end comments section -->


    <div>{{ route.id }}</div>

  </div>

  <script>
    var route_id = {{ route.id }}
  </script>
  
  <script src="../static/groupride/route_listing.js"></script>


{% endblock %}
